@model Orca.Models.Addition

@{
    ViewBag.Title = "Added";
}

<h1>Operation Succeeded</h1>
<p id="message">$@Model.Quota will be added to @Model.AUBnet</p>
<p class="notice">Notice: $ represents virtual "free" printing quota.</p>
<a href="Add">Go back to previous page</a>